.back-clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3f6f6;
  padding: 80px 210px 100px 210px;
}

.clients {
  font-family: Teko;
  font-size: 60px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: black;
}

.we-value {
  font-family: Arial;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.59;
  letter-spacing: normal;
  text-align: center;
  color: black;
  margin-top: 18px;
}

.logos-zwart {
  width: 250px;
  height: 126px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 82px;
}
